# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pdf
*.tar.gz
*.aux
*.log
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

# data/

slurm_logs/

job.sh

# exclude excel files in data:
!data/*.xlsx
!data/*.csv

outputs/
ckpt/

notes.md

**.h5

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.pot

# Sphinx documentation
docs/_build/

# Temporary files:
tmp/

*.npz
*.png
*.out
*.err
*.json


*.code-workspace
/.luarc.json

models/
wandb/
old_wandb/
checkpoints/
lightning_logs/

old_src/
data/
runs/

!data/all_logP_v5_extended.csv

data_backup/
npy_charge_dicts/
**/nohup.out
**/nohup2.out
**/.vscode
**/.ipynb_checkpoints
**/log.txt
**/params.json
**/eval_data.json
**/rmse_data.json
**/.png
**/.pickle
**/metric_data.json

**/model.pt
**/model.pth

mains/runs
mains/tests/load_splits
mains/tests/psi4/compare_spice/1
mains/**.png
mains/**.npy
mains/**.out

*.clean
*.png
*.pickle
**/psi4-calc.dat
**/timer.dat


.venv
**/nohup.out
**/trajectory.pdb
**/traj.pdb

*scratch*
*info.out*

**.pth**

**.gro**
**.top**
**.itp**
**.log**
**.tpr**
**.trr**
**.edr**

!exported_ckpts/**/*.json
!exported_ckpts**/*.npz
logs/